
    <div class="box-body" style="overflow: auto;">
      <table id="example2" class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th *ngIf="allowSelection">Select</th>
            <th>Dataset</th>
            <th>Ontology</th>
            <th>Timestamp</th>
            <th class = "text-center">Concept Min.</th>
            <th class = "text-center">Inference</th>
            <th class = "text-center">Cardinality</th>
            <th class = "text-center">Property Min.</th>
            <th class = "text-center">Shacl Validation</th>
            <th *ngIf="showStorageAttributes" class = "text-center">Stored</th>
            <th *ngIf="showStorageAttributes" class = "text-center">Indexed</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let summary of summaries">
            <td class = "text-center" *ngIf="allowSelection">
              <input type="radio" name="radiogroup" (click)="checked(summary)">
            </td>
            <td>{{summary.dsName}}</td>
            <td>{{summary.listOntNames[0]}}</td>
            <td>{{summary.timestamp}}</td>
            <td class = "text-center">
              <span *ngIf="summary.tipoMinimo" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
              <span *ngIf="!summary.tipoMinimo" class="glyphicon glyphicon-remove text-danger" style="color:red"></span>
            </td>
            <td class = "text-center">
              <span *ngIf="summary.inferences" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
              <span *ngIf="!summary.inferences" class="glyphicon glyphicon-remove text-danger" style="color:red"></span>
            </td>
            <td class = "text-center">
              <span *ngIf="summary.cardinalita" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
              <span *ngIf="!summary.cardinalita" class="glyphicon glyphicon-remove text-danger" style="color:red"></span>
            </td>
            <td class = "text-center">
              <span *ngIf="summary.propertyMinimaliz" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
              <span *ngIf="!summary.propertyMinimaliz" class="glyphicon glyphicon-remove text-danger" style="color:red"></span>
            </td>
            <td class = "text-center">
              <span *ngIf="summary.shaclValidation" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
              <span *ngIf="!summary.shaclValidation" class="glyphicon glyphicon-remove text-danger" style="color:red"></span>
            </td>
            <td *ngIf="showStorageAttributes" class="text-center">
              <span *ngIf="summary.loadedMongoDB" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
              <span *ngIf="!summary.loadedMongoDB" class="glyphicon glyphicon-remove text-success" style="color:red"></span>
            </td>
            <td *ngIf="showStorageAttributes" class="text-center">
              <span *ngIf="summary.indexedSolr" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
              <span *ngIf="!summary.indexedSolr" class="glyphicon glyphicon-remove text-success" style="color:red"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

