<div class="col-md-6">
  <div [ngClass]="request.server === 'cluster'  ? 'box box-warning' : 'box box-info'" class="box box-info">
    <div class="box-header">
      <h3 class="box-title">Your Configuration</h3>
    </div>
    <div class="box-body">
      <div *ngIf="submitted" class="callout callout-success">
        <p> <i class="icon fa fa-check"></i> Your summary is currently being processed. You will receive an email when the calculation is finished!</p>
      </div>

      <table class="table table-bordered">
        <tr>
          <th>Options</th>
          <th>Values</th>
        </tr>
        <tr>
          <td>Dataset</td>
          <td> {{request.dataset.name}} </td>
        </tr>
        <tr>
          <td>Ontologies</td>
          <td *ngIf="request.ontology !== undefined"> {{request.ontology.name}} </td>
          <td *ngIf="request.ontology === undefined"> no ontology </td>
        </tr>
        <tr>
          <td>Server</td>
          <td *ngIf="request.server === 'cluster'"> cluster </td>
          <td *ngIf="request.server === 'single-machine'"> single-machine </td>
        </tr>
        <tr>
          <td>Concept Minimalization</td>
          <td>
            <span *ngIf="request.concept_min" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
            <span *ngIf="!request.concept_min" class="glyphicon glyphicon-remove text-danger" style="color:red"></span>
          </td>
        </tr>
        <tr *ngIf="request.server === 'single-machine'">
          <td>Inference</td>
          <td>
            <span *ngIf="request.inference" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
            <span *ngIf="!request.inference" class="glyphicon glyphicon-remove text-danger" style="color:red"></span>
          </td>
        </tr>
        <tr >
          <td>Cardinalities</td>
          <td>
            <span *ngIf="request.cardinality" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
            <span *ngIf="!request.cardinality" class="glyphicon glyphicon-remove text-danger" style="color:red"></span>
          </td>
        </tr>
        <tr *ngIf="request.server === 'single-machine'">
          <td>Property Minimalization</td>
          <td>
            <span *ngIf="request.property_min" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
            <span *ngIf="!request.property_min" class="glyphicon glyphicon-remove text-danger" style="color:red"></span>
          </td>
        </tr>
        <tr *ngIf="request.server === 'single-machine'">
          <td>Rich Cardinalities</td>
          <td>
            <span *ngIf="request.rich_cardinalities" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
            <span *ngIf="!request.rich_cardinalities" class="glyphicon glyphicon-remove text-danger" style="color:red"></span>
          </td>
        </tr>
        <tr *ngIf="request.server === 'single-machine'">
          <td>Shacl Validation</td>
          <td>
            <span *ngIf="request.shacl_validation" class="glyphicon glyphicon-ok text-success" style="color:green"></span>
            <span *ngIf="!request.shacl_validation" class="glyphicon glyphicon-remove text-danger" style="color:red"></span>
          </td>
        </tr>
      </table>
    </div>
    <div class="box-body">
      <div class="col-xs-9" style="margin-left: -6px;">
        <label >Please insert your email if you want to be notified when your summary is ready:</label>
        <div class="col-xs-6" style="margin-left: -15px;">
          <input id="email" name="email" type="text" class="form-control"  placeholder="your email" [(ngModel)]="request.email" />
        </div>
      </div>
    </div>
    <div class="box-footer">
      <div *ngIf="!submitted">
        <button type="submit" class="btn btn-primary"  style="margin-left: 7px;" (click)="onFormSubmit()">Summarize</button>
      </div>
    </div>
  </div>
</div>
