<div *ngIf="!recap">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box-header">
        <h3 class="box-title">Backend Selector</h3>
      </div>
      <div class="box-footer">
        <div>
          <td class = "text-center">
            <input type="radio" name="radiogroup" (click)="checked(false)" [checked]='true'> single-machine mode
            <input type="radio" name="radiogroup" (click)="checked(true)"> cluster mode
          </td>
        </div>
      </div>
    </div>
  </div>

  <app-summarize  (onSubmit)="setRequest($event)"
    [cluster]="cluster">
  </app-summarize>

  <div class="col-md-6" >
    <app-datasetontology-uploader
      [mode]="'dataset'" [cluster]="cluster">
    </app-datasetontology-uploader>
    <app-datasetontology-uploader
      [mode]="'ontology'" [cluster]="cluster">
    </app-datasetontology-uploader>
  </div>
</div>

<div *ngIf="recap">
  <app-summarize-recap
    [request]="request">
  </app-summarize-recap>
</div>

