
.form-group:last-child {
  margin-bottom: 0;
}

.card-block {
  background-color: #f7f5f2;
}

:host {
  padding: 5em 0;
}

:host /deep/ .match {
  color: dodgerblue;
}

.completer-limit /deep/ .completer-dropdown {
  overflow-y: auto;
  max-height: 20rem;
}
