<div class="login-box">
  <div class="login-logo">
    <b>ABSTAT</b>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
               required placeholder="Username"/>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
      </div>

      <div class="form-group has-feedback">
        <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
               required placeholder="Password"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
      </div>

      <div class="row form-group">
        <!-- /.col -->
        <div class="col-xs-4">
          <button [disabled]="loading" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
