
<div class="row">
  <div class="col-md-12">
    <div class="box box-{{status()}}">
      <div class="box-body" style="overflow: auto;">
        <table *ngIf="akp !== undefined" class="table table-bordered table-hover table-striped">
          <tr>
            <th>Subject Type <small>(occurrences)</small> </th>
            <th>Predicate <small>(occurrences)</small></th>
            <th>Object Type <small>(occurrences)</small></th>
            <th>Frequency</th>
            <th>Instances</th>
            <th>Max Subjs-Obj</th>
            <th>Avg Subjs-Obj</th>
            <th>Min Subjs-Obj</th>
            <th>Max Subj-Objs</th>
            <th>Avg Subj-Objs</th>
            <th>Min Subj-Objs</th>
            <th>Severity</th>
          </tr>
          <tr>
            <td *ngIf="akp.subject.frequency === undefined"> <a href="{{akp.subject.globalURL}}" target="_blank">{{prefix(akp.subject.globalURL)}}</a>  </td>
            <td *ngIf="akp.subject.frequency !== undefined"> <a href="{{akp.subject.globalURL}}" target="_blank">{{prefix(akp.subject.globalURL)}}</a>  ({{akp.subject.frequency}})</td>
            <td *ngIf="akp.predicate.frequency === undefined"> <a href="{{akp.predicate.globalURL}}" target="_blank">{{prefix(akp.predicate.globalURL)}}</a> </td>
            <td *ngIf="akp.predicate.frequency !== undefined"> <a href="{{akp.predicate.globalURL}}" target="_blank">{{prefix(akp.predicate.globalURL)}}</a>  ({{akp.predicate.frequency}})</td>
            <td *ngIf="akp.object.frequency === undefined"> <a href="{{akp.object.globalURL}}" target="_blank">{{prefix(akp.object.globalURL)}}</a> </td>
            <td *ngIf="akp.object.frequency !== undefined"> <a href="{{akp.object.globalURL}}" target="_blank">{{prefix(akp.object.globalURL)}}</a> ({{akp.object.frequency}})</td>
            <td>{{akp.frequency}}</td>
            <td *ngIf="akp.numberOfInstances != undefined">{{akp.numberOfInstances}}</td>
            <td *ngIf="akp.numberOfInstances == undefined" class="text-center">-</td>
            <td *ngIf="akp.cardinality1 != undefined">{{akp.cardinality1}}</td>
            <td *ngIf="akp.cardinality1 == undefined" class="text-center">-</td>
            <td *ngIf="akp.cardinality2 != undefined">{{akp.cardinality2}}</td>
            <td *ngIf="akp.cardinality2 == undefined" class="text-center">-</td>
            <td *ngIf="akp.cardinality3 != undefined">{{akp.cardinality3}}</td>
            <td *ngIf="akp.cardinality3 == undefined" class="text-center">-</td>
            <td *ngIf="akp.cardinality4 != undefined">{{akp.cardinality4}}</td>
            <td *ngIf="akp.cardinality4 == undefined" class="text-center">-</td>
            <td *ngIf="akp.cardinality5 != undefined">{{akp.cardinality5}}</td>
            <td *ngIf="akp.cardinality5 == undefined" class="text-center">-</td>
            <td *ngIf="akp.cardinality6 != undefined">{{akp.cardinality6}}</td>
            <td *ngIf="akp.cardinality6 == undefined" class="text-center">-</td>
            <td *ngIf="akp.status == undefined" class="text-center">-</td>
            <td *ngIf="akp.status=='valid'" class="glyphicon glyphicon-ok text-success"></td>
            <td *ngIf="akp.status=='invalid'" class="glyphicon glyphicon-remove text-danger" style="color:red"></td>
            <td *ngIf="akp.status=='warning'" class="glyphicon glyphicon-warning-sign  text-yellow"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-md-6">
    <div class="box box-info" style="overflow: auto; max-height: 43vh;">
      <div class="box-header">
        <h3 class="box-title">Possible cardinality violation (subject-wise)</h3>
      </div>

      <app-match-selector *ngIf="akp !== undefined"
                          [cardinalityType]="'MaxSubjsObj'"
                          [akp]="akp"
                          (onMatchSelected)="getTriples($event)">
      </app-match-selector>

    </div>
  </div>

  <div class="col-md-6">
    <div class="box box-info" style="overflow: auto; max-height: 43vh;">
      <div class="box-header">
        <h3 class="box-title">Possible cardinality violation (object-wise)</h3>
      </div>

      <app-match-selector *ngIf="akp !== undefined"
                          [cardinalityType]="'MaxSubjObjs'"
                          [akp]="akp"
                          (onMatchSelected)="getTriples($event)">
      </app-match-selector>

    </div>
  </div>
</div>


<div class="row">
  <div *ngIf="show">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header">
          <h3 class="box-title">Triples</h3>
        </div>
        <div class="box-body" style="overflow: auto;">
          <table class="table table-bordered table-hover table-striped">
            <tr>
              <th>Subject</th>
              <th>Predicate</th>
              <th>Object</th>
            </tr>
            <tr  *ngFor="let item of triples">
              <td> <a href="{{item.subj}}" target="_blank"> {{prefix(item.subj)}}</a></td>
              <td> <a href="{{item.pred}}" target="_blank"> {{prefix(item.pred)}}</a></td>
              <td *ngIf="akp.type =='Datatype AKP'">{{item.obj}}</td>
              <td *ngIf="this.akp.type === 'Object AKP'"><a href="{{item.obj}}" target="_blank"> {{prefix(item.obj)}}</a></td>

            </tr>
          </table>
          <div *ngIf="!loadingTriples">
            <button (click)="loadMore()" type="button" class="btn btn-deafult btn-block"> <strong>{{triples.length}}</strong> triples found - get more  </button>
          </div>
          <div *ngIf="loadingTriples">
            <button (click)="loadMore()" type="button" class="btn btn-deafult btn-block"> <strong>{{triples.length}}</strong> triples found - get more <i class="fa fa-spinner fa-spin"></i>  </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
